main {
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: row;
    flex-wrap: nowrap;
}

p {
    width: 30vw;
    font-size: 24px;
}

h1 {
    font-size: 64px;
}

span {
    width: 45vw;
}